.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
.phpunit.result.cache
Dockerfile*
docker-compose*.yml
